body {
            
            background:url(https://s-media-cache-ak0.pinimg.com/236x/5c/d3/3c/5cd33c3e42a0b3c0768f600d4ea6c834.jpg) no-repeat center fixed;
            background-size: cover;
                color: rgb(255, 255, 255);
                padding: 25px;
                font-family: cursive;
                
            }
            header {
                text-shadow: 2px 2px 5px purple;
                font-size: 1.5em;
                font-weight: bold;
            }
            #all-contents {
                max-width: 800px;
                margin: auto;
            }
    
            /* navigation menu */
            nav {
                background: rgb(23, 20, 7);
                margin: 0 auto;
                display: flex;
                padding: 10px;
            }
            nav header {
                display: flex;
                align-items: center;
                color: rgb(259, 288, 278);
                flex: 1;
            }
            nav ul {
                
                list-style-image: none;
            }
            nav li {
                display: inline-block;
                padding: 0 10px;
            }
            nav a {
                text-decoration: none;
                color: #fff;
            }
    
            /* main container area beneath menu */
            main {
                
                background: url("https://i.pinimg.com/originals/88/66/13/886613e30765eea72ec25ae9c57134f3.jpg")no-repeat center fixed;  
                background-size: cover;
                display: ;
            }
            .sidebar {
                margin-right: 25px;
                padding: 10px;
            }
            .sidebar img {
                width: 200px;
               
               
            .content {
                flex: 1;
                padding: 15px;
            }
            .interests header {
                font-size: 1.25em;
            }