body {
            background:url(https://us.123rf.com/450wm/maximusnd/maximusnd1804/maximusnd180402561/99911908-abstract-colorful-speed-motion-blur-background-texture.jpg?ver=6) no-repeat center fixed;
            background-size: cover;
                color: rgb(45);
                padding: 10px;
                font-family: cursive;
            }
            header {
                font-size: 1.5em;
                font-weight: bold;
            }
            #all-contents {
                max-width: 800px;
                margin: auto;
            }
    
            /* navigation menu */
            nav {
                background: rgb(23, 20, 7);
                margin: 0 auto;
                display: flex;
                padding: 10px;
            }
            nav header {
                display: flex;
                align-items: center;
                color: rgb(259, 288, 278);
                flex: 1;
            }
            nav ul {
                list-style-image: none;
            }
            nav li {
                display: inline-block;
                padding: 0 10px;
            }
            nav a {
                text-decoration: none;
                color: #fff;
            }
    
            /* main container area beneath menu */
            main {
                background: url(https://i.pinimg.com/736x/90/bc/9f/90bc9fbb57edfd8dab6244a633160060.jpg)no-repeat center fixed;  
                background-size: cover;
                display: ;
            }
            .sidebar {
                margin-right: 25px;
                padding: 10px;
            }
            .sidebar img {
                width: 200px;
                border: 10px solid  ;
                border-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGUElfHgjQMHZCgRJUCA4tbx7EQJ-YZPs0toaRaMK6UyjGDvIU); 
            .content {
                flex: 1;
                padding: 15px;
            }
            .interests header {
                font-size: 1.25em;
            }